h1{
    border: 2px tomato;
    background-color: rgb(148, 147, 72);
    border-radius: 20px;
}
.Lagayan{
    background-color: blue;
}
#signup{
    background-color: gold;
}
body{
    background-color: rgba(226, 212, 243, 0.623);
}